.login {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 330px;
	min-height: 360px;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 18px;
}

.login p {
	padding-top: 20px;
	margin-top: 20px;
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
}

.login input {
	text-align: center;
	border: none;
	border-radius: 20px;
	width: 200px;
	height: 30px;
	font-size: 14px;
	background: aliceblue;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
}

.login form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
	margin-bottom: 15px;
}

.login label {
	margin: 5px;
}

.login a {
	margin-top: 10px;
	font-size: 14px;
	color: azure;
	text-decoration: none;
	transition: 0.3s;
}

.login a:hover {
	cursor: pointer;
	color: aquamarine;
}

.login button {
	text-decoration: none;
	background: none;
	border-radius: 20px;
	border: 3px solid aliceblue;
	padding: 10px 20px;
	font-weight: bold;
	color: aliceblue;
	transition: 0.4s;
	font-size: 16px;
	margin: 15px;
}

.login button:hover {
	background: aliceblue;
	color: black;
	cursor: pointer;
}

.login .err {
	text-align: center;
	padding: 10px;
	margin: 5px;
	color: rgb(234, 43, 81);
}
