.reports {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.9);
	display: flex;
	flex-direction: column;
	align-items: center;
	max-height: 85vh;
	min-width: 80vw;
	overflow-y: scroll;
}

.reports .sorts {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.reports .box-sort {
	margin: 10px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.reports input,
select {
	margin: 10px;
	text-align: center;
	border: none;
	border-radius: 20px;
	width: 135px;
	height: 30px;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: 'Poppins', sans-serif;
}

.reports h3 {
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 2px;
	color: bisque;
	margin: 20px;
}

.reports table {
	margin: 20px;
}

.reports th {
	letter-spacing: 2px;
	color: bisque;
	padding: 10px;
	text-align: center;
}

.reports tr,
td {
	padding: 10px;
	text-align: center;
}

.reports .newReport {
	position: absolute;
	left: 30px;
	top: 30px;
}

.reports .showlogs {
	position: absolute;
	right: 30px;
	top: 30px;
}

.reports button.showlogs:hover {
	background-color: rgb(211, 168, 252);
	border: 3px solid rgb(211, 168, 252);
}

.reports button.newReport:hover {
	background-color: rgb(50, 202, 114);
	border: 3px solid rgb(50, 202, 114);
}

.reports a {
	text-decoration: none;
	transition: 0.3s;
	color: aliceblue;
	padding: 15px 15px;
}

.reports a:hover {
	color: black;
}

.reports button {
	text-decoration: none;
	background: none;
	border-radius: 20px;
	border: 3px solid aliceblue;
	padding: 10px 0px;
	font-weight: bold;
	color: aliceblue;
	transition: 0.4s;
	font-size: 16px;
	margin: 15px;
}
